@import "tailwindcss";
@import "material-symbols/outlined.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@layer base {
	body {
		background: var(--background);
		color: var(--foreground);
		font-family: var(--font-bricolage), system-ui, sans-serif;
	}

	.material-symbols-outlined {
		font-size: 24px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		user-select: none;
	}
}
